<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/post">
        <h3>Employee Name: <input placeholder="Employee Name" name="username"></h3>
        <h3>Basic Salary : <input placeholder="Basic Salary" name="basicSalary"></h3>
        <h3>Gender : <input placeholder="Enter Gender" name="gender"></h3>
        <h3>Department : <input placeholder="Enter Department" name="department"></h3>
        <button>Add</button>
    </form>
    
</body>
</html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="form-box">
<h2>Employee Payroll Form</h2>

<form method="POST" action="/add">

<div class="row">
<label>Name</label>
<input name="name" required>
</div>

<div class="row">
<label>Department</label>
<input name="department" required>
</div>

<div class="row">
<label>Salary</label>
<input type="number" name="salary" required>
</div>

<button>Submit</button>
</form>
</div>

</body>
</html>
