<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/post">
        <h3>Employee Name: <input placeholder="Employee Name" name="username"></h3>
        <h3>Basic Salary : <input placeholder="Basic Salary" name="basicSalary"></h3>
        <h3>Gender : <input placeholder="Enter Gender" name="gender"></h3>
        <h3>Department : <input placeholder="Enter Department" name="department"></h3>
        <button>Add</button>
    </form>
    
</body>
</html>