<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="form-box">
<h2>Employee Payroll Form</h2>

<form method="POST" action="/add">

<div class="row">
<label>Name</label>
<input name="name" required>
</div>

<div class="row">
<label>Department</label>
<input name="department" required>
</div>

<div class="row">
<label>Salary</label>
<input type="number" name="salary" required>
</div>

<button>Submit</button>
</form>
</div>

</body>
</html>
