<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%=username%></h1>
    <form method="POST" action="/edit/post/<%=id%>?_method=PATCH">
        <h3>Edit Username: <input placeholder="Enter new username"  name="username"></h3>
        <h3>Edit BasicSalary: <input placeholder="Enter new Salary" name="basicSalary"></h3>
        <h3>Edit Gender: <input placeholder="Enter Gender" name="gender"></h3>
        <h3>Edit Department: <input placeholder="Enter Department" name="department"></h3>
        <button>Submit</button>
    </form>
    
</body>
</html>