body{
font-family: Arial, sans-serif;
background:#f4f6f8;
margin:0;
padding:20px;
}

.container{
width:80%;
margin:auto;
}

h1{
text-align:center;
margin-bottom:20px;
}

.add-btn{
display:inline-block;
margin-bottom:10px;
padding:8px;
background:green;
color:white;
text-decoration:none;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
padding:10px;
border:1px solid #ccc;
text-align:center;
}

.edit{
background:blue;
color:white;
padding:5px;
text-decoration:none;
}

.delete{
background:red;
color:white;
padding:5px;
text-decoration:none;
}

form{
background:white;
padding:20px;
}

input{
width:100%;
padding:8px;
margin:10px 0;
}

button{
background:green;
color:white;
padding:10px;
border:none;
}
