body{

margin:0;
font-family:Segoe UI, sans-serif;
background:#f7f7f7;
}

/* Top bar */

.topbar{
background:#ffffff;
padding:15px 30px;
box-shadow:0 2px 4px rgba(0,0,0,0.1);
font-weight:bold;
color:#82b61b;
}


/* Container */

.container{

width:80%;

margin:30px auto;

background:white;

padding:20px;

box-shadow:0 2px 6px rgba(0,0,0,0.1);

}


/* Add button */

.add-btn{

background:#82b61b;

color:white;

padding:8px 15px;

text-decoration:none;

border-radius:4px;

float:right;

}


/* Table */

table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}


<<<<<<< HEAD


=======
>>>>>>> 82f4457e571d85d2e5515bce058c3ab91f123758
th{

background:#42515f;

color:white;

<<<<<<< HEAD
padding:15px;
=======
padding:12px;
>>>>>>> 82f4457e571d85d2e5515bce058c3ab91f123758

text-align:left;

}


td{

padding:12px;

border-bottom:1px solid #ddd;

}
<<<<<<< HEAD
 /* thead tr {
    
    color: white;
}
thead {
    background: #42515f;
    color: white;
}


th, td {
    padding: 15px;
    text-align: left;
} */
=======
>>>>>>> 82f4457e571d85d2e5515bce058c3ab91f123758


/* Avatar image FIX */

.avatar{

width:40px;     /* IMPORTANT FIX */

height:40px;

border-radius:50%;

vertical-align:middle;

margin-right:10px;

}


/* Delete button */

.delete-btn{

background:#e74c3c;

color:white;

border:none;

padding:5px 10px;

border-radius:4px;

cursor:pointer;

}
/* FIX FORM ALIGNMENT */

.form-row{

display:flex;

align-items:center;

margin-bottom:20px;

}


.form-row label{

width:150px;

font-size:15px;

color:#555;

}


.form-row input[type="text"]{

width:400px;

padding:10px;

border:1px solid #ccc;

border-radius:4px;

}


.form-row textarea{

width:400px;

height:80px;

}


.profile-group{

display:flex;

align-items:center;

gap:15px;

}


.profile-option{

display:flex;

align-items:center;

gap:5px;

}


.profile-option img{

width:40px;

height:40px;

border-radius:50%;

}


.gender-group,

.dept-group{

display:flex;

gap:20px;

}
/* PERFECT XD GRID */

.form-card{

width:700px;

}


.form-row{

display:grid;

grid-template-columns:150px 1fr;

align-items:center;

margin-bottom:20px;

}


.gender-group,

.dept-group,

.profile-group{

display:flex;

gap:20px;

}


select{

width:200px;

}


.date-group{

display:flex;

gap:15px;

}


.date-group select{

width:120px;



}
